.home{
    margin: 3rem 8rem;
}


.homeTitle{
    font-weight: 400;
    font-size: 1.5rem;
    color: #343434;
}
.category{
    font-size: 24px;
    font-weight: 600;
    margin: 6rem 0 1rem 0;
}
.btnGeneral{
    display: flex;
    gap: 3rem;
}
.btnGeneral button{
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 500;
    color: #666666
;
}
.btnGeneral button:hover {
    color: black;
    text-shadow: 0 4px 4px #00000040;
    cursor: pointer;
}
